---
interface Props {
    title: string,
    startDate: string,
    endDate: string,
    role: string,
    link?: string
}

const {
    title,
    startDate,
    endDate,
    role,
    link
} = Astro.props
---

<div class="data-box">
    <div class="timeline">
        <div class="line"></div>
        <div class="point"></div>
    </div>
    <div class="data">
        <div class="role">
            {link ?
                (
                    <a rel="noreferrer" target="_blank" href={link}>{title}</a>
                ) : (
                    <>{title}</>
                )
            }
        </div>
        <p class="time">{startDate} - {endDate}</p>
        <p class="exp-desc">{role}</p>
    </div>
</div>