---
import { DateTime } from "luxon";
import ogs from "open-graph-scraper";

interface Props {
    list: {
        id: string;
        title: string;
        link: string;
        startDate: string;
        endDate: string;
        role: string;
        showcase?: {
            id: string;
            link: string;
            image?: string[];
            title?: string;
        }[];
    }[];
}

const { list } = Astro.props;

for (const [i, block] of list.entries()) {
    if (block.showcase) {
        for (const [j, obj] of block.showcase.entries()) {
            const { error, result } = await ogs({
                url: obj.link,
            });

            if (error) {
                console.log(error);
                return;
            }

            if (result.success) {
                obj.title = result.ogTitle;
                obj.image =
                    result.ogImage && result.ogImage.map((img) => img.url);
            }
        }
    }
}
---

<div class="experience-data">
    {
        list.map((block) => {
            const ArrayStartDate = block.startDate
                .split(",")
                .filter((i) => i !== " ")
                .map((e) => e.trim());

            const ArrayEndDate =
                block.endDate === "Present"
                    ? `${new Date().toLocaleString("default", {
                          month: "short",
                      })}, ${new Date().getFullYear()}`
                          .split(",")
                          .filter((i) => i !== " ")
                          .map((e) => e.trim())
                    : block.endDate
                          .split(",")
                          .filter((i) => i !== " ")
                          .map((e) => e.trim());

            ArrayStartDate.unshift("1");
            ArrayEndDate.unshift("1");

            const EndDate = DateTime.fromFormat(
                ArrayEndDate.join(" "),
                "d MMM yyyy"
            );
            const StartDate = DateTime.fromFormat(
                ArrayStartDate.join(" "),
                "d MMM yyyy"
            );

            const diffObject = EndDate.diff(StartDate, ["years", "months"]);
            const diffYears = diffObject.years;
            const diffMonths = diffObject.months;
            return (
                <div id={`${block.id}`}>
                    <div class="data-box">
                        <div class="timeline">
                            <div class="line" />
                            <div class="point" />
                        </div>
                        <div class="data">
                            <div class="role">
                                {block.link ? (
                                    <h4>
                                        <a
                                            rel="noreferrer"
                                            target="_blank"
                                            href={block.link}
                                        >
                                            {block.title}
                                        </a>
                                    </h4>
                                ) : (
                                    <h4>{block.title}</h4>
                                )}
                            </div>
                            <p class="time">
                                {block.startDate} - {block.endDate} •{" "}
                                {diffYears ? `${diffYears} yr` : ""}
                                {diffMonths ? ` ${diffMonths} mos` : ""}
                            </p>
                            <p class="exp-desc">{block.role}</p>
                            <div class="showcase-container">
                                {block.showcase &&
                                    block.showcase.map((item) => {
                                        return (
                                            <div class="showcase">
                                                {item.image && (
                                                    <div class="link-preview">
                                                        <img
                                                            class="link-preview-img"
                                                            src={item.image[0]}
                                                            alt={item.title}
                                                        />
                                                        <div class="link-text">
                                                            <a href={item.link}>
                                                                {item.title} -{" "}
                                                                {
                                                                    new URL(
                                                                        item.link
                                                                    ).host
                                                                }
                                                            </a>
                                                        </div>
                                                    </div>
                                                )}
                                            </div>
                                        );
                                    })}
                            </div>
                        </div>
                    </div>
                </div>
            );
        })
    }
</div>
